# Build
*.tsbuildinfo
build/
dist/
out-tsc/
out/
tmp/

# Caches
.cache/
.swc/

# Dependencies
.pnp*
node_modules/

# Environment
.env
.env.*
.env.local
!.env.example

# IDEs and editors
*.esproj
*.launch
*.tmproj
.classpath
.factorypath
.idea/
.project
.settings/

# Lock files
bun.lockb
package-lock.json
yarn.lock
!pnpm-lock.yaml

# Logs
*-debug.log*
*-error.log*
*.log

# Monitoring
newrelic_agent

# Next
.next/
next-env.d.ts

# Nx
.nx/

# OS
*.swp
.DS_Store
Thumbs.db

# Secrets
*.pem
/connect.lock

# Testing
.vitest/
coverage/
vitest.config.*.timestamp*

# VS Code or Forks
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Vercel
.vercel
