# Build
*.tsbuildinfo
build/
dist/
out-tsc/
out/
tmp/

# Caches
.cache/
.swc/

# Dependencies
.pnp*
node_modules/

# Environment
!.env.example
.env
.env.*
.env.local

# IDEs and editors
*.esproj
*.launch
*.tmproj
.classpath
.factorypath
.idea/
.project
.settings/

# Lock files
!pnpm-lock.yaml
bun.lockb
package-lock.json
yarn.lock

# Logs
*-debug.log*
*-error.log*
*.log

# Monitoring
newrelic_agent

# Next
.next/
next-env.d.ts

# Nx
.nx/

# OS
*.swp
.DS_Store
Thumbs.db

# Secrets
*.pem
/connect.lock

# Testing
.vitest/
__snapshots__/
coverage/
html/
test-results/
vitest.config.*.timestamp*

# VS Code or Forks
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode/*

# Vercel
.vercel
