# Assets
**/*.gif
**/*.ico
**/*.jpeg
**/*.jpg
**/*.mp4
**/*.otf
**/*.pdf
**/*.png
**/*.svg
**/*.ttf
**/*.webm
**/*.webp
**/*.woff
**/*.woff2

# Build
*.tsbuildinfo
build/
dist/
out-tsc/
out/
tmp/

# Caches
.cache/
.swc/

# Dependencies
node_modules/

# Lock files
bun.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs
*-debug.log*
*-error.log*
*.log
logs/

# Next
.next/
next-env.d.ts

# Nx
.nx/

# OS
*.swp
.DS_Store
Thumbs.db

# Testing
.vitest/
coverage/
vitest.config.*.timestamp*

# Vercel
.vercel
